body{
margin:0;
font-family:'Segoe UI', sans-serif;
background:#f4f7fb;
}

nav{
background:#071633;
padding:15px 20px;
display:flex;
justify-content:space-between;
align-items:center;
flex-wrap:wrap;
}

nav h2{
color:white;
margin:0;
}

nav a{
color:white;
margin:6px;
text-decoration:none;
font-weight:bold;
}

.hero{
background:linear-gradient(rgba(7,22,51,0.85),rgba(7,22,51,0.85)),
url('file_0000000021d871f8a168663a13d3b214.png');
background-size:cover;
color:white;
text-align:center;
padding:100px 20px;
}

.btn{
background:#2ecc71;
padding:12px 25px;
border-radius:30px;
color:white;
text-decoration:none;
font-weight:bold;
}

.card{
background:white;
margin:20px;
padding:25px;
border-radius:12px;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

footer{
background:#071633;
color:white;
text-align:center;
padding:20px;
}
